  <div class="row" id="all">
  <img id="white">
  <img src="https://imarvelstudio.files.wordpress.com/2018/05/cropped-images17385777602.png">
  <img src="http://pm1.narvii.com/6498/1e156c0a5b9324bba935ba83f2ec632c0a8bb260_00.jpg">
  <img src="https://pa1.narvii.com/7208/e64e3b46efb879da1e09b658ea9ad7efabbd01f3r4-320-128_00.gif">
  <img id="white">
  
  
    <div class="col-sm-9">
        <app-hero-list *ngIf="characters"
        [charactersCount]="allCharactersCount"
        [characters]="characters"
        [favoriteComicIdsToAddTag]="favoriteComicIdsToAddTag"
        (favoriteCharacterId)="updateFavoriteList($event)"
        (featuredCharacters)="updateFeaturedFavoriteCharacters($event)"
        (characterComics)="updateCharacterComics($event)"
        (charactersToCheckFavoriteTags)="checkFavoriteTags($event)">
        </app-hero-list>

    </div>
    <div class="col-sm-3">
      <app-favorite-list *ngIf="favoriteCharacters"
      [characters]="favoriteCharacters"
      [featured]="featured"
      [favoriteComics]="favoriteComics"
      (characterIdToRemoveFavorite)="removeFavoriteTagForCharacter($event)"
      (comicIdToRemoveFavorite)="removeFavoriteComic($event)">
      </app-favorite-list>
    </div>
  </div> 
